<app-applicant-home></app-applicant-home>
<div class="container" style="margin-left: 13%">
  <h1>My Activities</h1>
  <table class="table table-bordered table-inverse" style="width: 60%">
    <tr>
      <th>Activity Name</th>
      <th>Description</th>
      <th>Max Attempts</th>
      <th>Qualification Points</th>
      <th>Enroll</th>

    </tr>
    <tr *ngFor="let bike of activity">
      <td>
        {{bike.name}}
      </td>
      <td>
        {{bike.description}}
      </td>
      <td>
        {{bike.maxAttempts}}
      </td>
      <td>
        {{bike.qualifyPoints}}
      </td>
      <td>
        <button (click) = "checkActivityAvailability($event.target.id)" id="{{bike.activityId}}">Add Activity</button>
      </td>

    </tr>
  </table>
</div>
