<app-admin-home></app-admin-home>
<div style="margin-left: 12%;background-color: black; margin-top: -9px">
    <h1 style="padding-top: 40px;padding-left: -20px; color: rgb(1, 1, 175);  text-align: center">
        Activities </h1>
    
    <br>
    </div>
    <br>
<div class="container" style="margin-left: 13%;align-items: center; ">
  <br>
  <form class="mt-4 mb-4" style="margin-left: 15%; padding-right: 10%">
    <select (change)="filterByLevel($event.target.value)" class="form-control" style="width: 35%" id="level">
      <option value="def">Select Level</option>
      <option *ngFor="let abc of levels" value="{{abc.levelId}}">{{ abc.levelName}}</option>
    </select>
    <br>
    <select (change)="filterByBatch($event.target.value)" class="form-control" style="width: 35%" id="batch">
      <option value="pok">Select Batch</option>
      <option *ngFor="let abc of batches" value="{{abc.batchId}}">{{ abc.technology}} {{abc.year}}</option>
    </select>
  </form>
  
  <br>

  <table class="table table-bordered table-inverse" style="width: 50%; margin-left: 15%">
    <tr>
      <th>Activity Name</th>
      <th>Description</th>
      <th>Max Attempts</th>
      <th>Qualification Points</th>
      <th>Level Name</th>
      <th>Batch </th>
    </tr>
    <tr *ngFor="let bike of filteredApplicants | paginate: { itemsPerPage: 3, currentPage: p }">
      <td>
        {{bike.name}}
      </td>
      <td>
        {{bike.description}}
      </td>
      <td>
        {{bike.maxAttempts}}
      </td>
      <td>
        {{bike.qualifyPoints}}
      </td>
      <td>
        {{bike.level.levelName}}
      </td>
      <td>
        {{bike.batch.technology}}{{bike.batch.year}}
      </td>
    </tr>
  </table>
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>