<app-admin-home></app-admin-home>
<div style="margin-left: 12%;background-color: black; margin-top: -9px">
    <h1 style="padding-top: 40px;padding-left: -20px; color: rgb(1, 1, 175);  text-align: center">
        All Batches </h1>
    
    <br>
    </div>
    <br>
<div class="container" style="margin-left: 13%;">
  <table class="table table-bordered table-inverse" style="width: 50%; align-items: center; margin-left: 15%">
    <tr>
      <th>Technology</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>Year</th>
    </tr>
    <tr *ngFor="let bike of batch | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>
        {{bike.technology}}
      </td>
      <td>
        {{bike.batchDescription}}
      </td>
      <td>
        {{bike.startDate}}
      </td>
      <td>
        {{bike.year}}
      </td>

    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
