<app-applicant-home></app-applicant-home>
<div style="margin-left: 12%; background-color: black;">
    <h1 style="padding-top: 40px;padding-left: -20px; color: rgb(1, 1, 175);  text-align: center">History</h1>
    <br>
    </div>
    <br>
    <br>
<div class="container" style="margin-left: 13%">
  <table class="table table-bordered table-inverse" style="width: 65% ; align-items: center; margin-left: 15%">
    <tr>
      <th>Activity Name</th>
      <th>Description</th>
      <th>Points</th>
      <th>Remaining Attempt</th>
      <th>status</th>

    </tr>
    <tr *ngFor="let bike of AAR | paginate: { itemsPerPage: 5, currentPage: p }" >
      <td>
        {{bike.activity.name}}
      </td>
      <td>
        {{bike.description}}
      </td>
      <td>
        {{bike.pointsEarned}}
      </td>
      <td>
        {{bike.activity.maxAttempts-bike.count }}
      </td>
      <td>

        <div *ngIf="bike.activity.maxAttempts-bike.count==0 || bike.status == 'REVIEW_FAILED'  ; else checkStatus ">
          <div *ngIf="bike.status == 'REVIEW_FAILED' ; else maxattempts">
            <label>ATTEMPT AGAIN</label>
          </div>
          <ng-template #maxattempts>
              <label>Exceeded Maximum Attempts</label>
          </ng-template>
            
        </div>
        <!-- <div *ngIf="bike.status == 'REVIEW_FAILED'; else checkStatus">
            <label>ATTEMPT AGAIN</label>
            </div>  -->
          
       <ng-template #checkStatus>
          
         <div *ngIf="bike.status == 'REVIEW_PENDING'">
             <label for="">REVIEW_PENDING</label>
         </div>
        <div *ngIf="bike.status != 'COMPLETED' && bike.status != 'REVIEW_PENDING'">
          <form [formGroup]="updateStatusForm" novalidate> 
          <select class="form-control" formControlName="status" required>
            <option value="bike.status">Current Status :{{bike.status}}</option>
            <option *ngFor="let m of Status" [value]="m">
              {{m}}
            </option>
          </select>
         <button class="btn btn-primary" (click)= "updateStatus($event.target.id)" id="{{bike.recordId}}">Update</button>
        </form>
        </div>
        <div *ngIf="bike.status == 'COMPLETED'">
            <label for="">COMPLETED</label>
        </div>
      </ng-template> 
      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
