<app-applicant-home></app-applicant-home>
<style ></style>
<body style="background-color: black">
<div style="margin-left: 13%;">
<h1 style="margin-left:37.5%; padding-top: 40px; color: rgb(1, 1, 175)">Welcome {{editapplicant.name}} </h1>
<!-- <img style="margin-left: 75%" height="60" width="90" alt="Nagarro Logo"  [src]='url'> -->
<div class="container">
    <table class="table table-bordered table-inverse" style="color:grey">
      <tr>
        <th>EmailId</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Batch</th>
        <th>Level</th>
      </tr>
      <tr >
        <td>
          {{editapplicant.email}}
        </td>
        <td>
          {{editapplicant.name}}
        </td>
        <td>
          {{editapplicant.contactNumber}}
        </td>
        <td>{{editapplicant.batch.technology}}</td>
        <td>{{editapplicant.level.levelName}}</td>
      </tr>
    </table>
  </div>
  


</div>
</body>