<app-admin-home></app-admin-home>
<div style="margin-left: 12%;background-color: black; margin-top: -9px">
    <h1 style="padding-top: 40px;padding-left: -20px; color: rgb(1, 1, 175);  text-align: center">
        Edit Batch</h1>
    
    <br>
    </div>
    <br>
<div class="container" style=" margin-left: 35%; align-items: center;">
    <form [formGroup]="batchform"  novalidate>
    <select class="form-control" style="width: 20%;"  formControlName="batchId" required>
        <option value="">Please select a Batch</option>
        <option *ngFor="let m of editBatch" [value]="m.batchId">
                {{m.technology}}{{space}}{{m.year}}
        </option>
      </select>
      <div style="padding: 10px">
    <button class="btn btn-primary" (click) = getBatch()>Get Data</button>
      </div>
    <div *ngIf="check" class="container">
        <form [formGroup]="updateform" style="width: 50%" novalidate>
            <div>
              <label>Technology</label>
              <input type="text" class="form-control" value={{batchInfo.technology}} formControlName="technology"/>
            </div>
    
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" value="{{batchInfo.batchDescription}}" formControlName="batchDescription" />
            </div>
    
            <div class="form-group">
              <label> Year</label>
              <input type="text"  value="{{batchInfo.year}}"  formControlName="year"/>
            </div>
    
            <div>
              <button class="btn btn-primary" (click)="update()">Update</button>
            </div>
          </form>
    </div>
    </form>
  </div>
