<app-admin-home></app-admin-home>
<div class="container" style="margin-left: 13%;">
  <h1>Edit Activity</h1>
  <form [formGroup]="activityform" novalidate>
    <select class="form-control" style="width: 50%" formControlName="activityId" required>
      <option value="">Please select An Activity</option>
      <option *ngFor="let m of editActivity" [value]="m.activityId">
        {{m.name}}
      </option>
    </select>

    <button (click)=getActivity()>Get Data</button>
    <div *ngIf="check" class="container">

      <form [formGroup]="Updateform" style="width: 50%">
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{validMessage}}</h3>
        </div>

        <div class="form-group">
          <label>Activity Name</label>
          <input type="text" class="form-control" value ={{ActiviyInfo.name}} formControlName="name" required autofocus />
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description" value={{ActiviyInfo.description}} required autofocus />
        </div>


        <div class="form-group">
          <label>Max Attempts</label>
          <input type="number" step="1" pattern="\d+" class="form-control"value={{ActiviyInfo.maxAttempts}} formControlName="maxAttempts" required />
        </div>
        <div class="form-group">
          <label>Qualify Points</label>
          <input type="number" step="1" pattern="\d+" class="form-control" value={{ActiviyInfo.qualifyPoints}} formControlName="qualifyPoints" required />
        </div>

        <button (click)="update()">Update</button>
      </form>

    </div>
  </form>
</div>
